:root
{
  --myOpacity: 0;
}


* {
  box-sizing: border-box;
}


html {
  height:100%;
  width: 100%;
  background-color: #d3dcdf;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


[class*="col-"] {
  position: relative;
  float: left;
  padding: 15px;
  align-items: center;
  width:100%;
}

.block
{
  position: fixed; 
  
  width: 100%; 
  background: black; 
  z-index: 1000; 
  color:white; 
  text-align: center; 

  animation-name: fade;
  animation-duration: 3.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode:both;
  animation-timing-function: ease-in-out;
}

@keyframes fade
{
  0%{opacity: var(--myOpacity); height: 155%;}
  99%{opacity: 0; height: 105%;}
  100%{opacity: 0; height: 0%; display: none;}
}

.welcomeText  {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 32px;
  z-index: 2000;
}




.viewport 
{
  height:100%;
  width: 100%;
}










body, html {
    height:100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
  }

  div[style*="margin: 16px 0"] {
    margin:0 !important;
}



strong
{
  font-weight: 400;
}




  .navbar
  {
    background-color: #1f273500;
    /* background-color: #1f2735; */
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 5;
    transition: 2s;
  }

  .navbarElement {
    float: right;
    display: block;
    color: #f2f2f2;
    font-size: 24px;
    text-align: center;
    padding: 28px 64px;
    text-decoration: none;
    transition: opacity 2s, padding 1.5s, filter 1s, background 1s, transform 1s, display 1s;
  }

  .logoIcon {
    filter:invert(100%);
  }

  .navbarElement:hover,
  .navbarElementGroup .material-icons.menuIcon:hover
  {
    filter: invert(100%);
    background: #000;
    pointer-events: auto;
  }


  .navbarLogo {
      float:left;
      display: block;
      height: 38px;
      width:auto;
      padding: 0px 64px;
      position: absolute;
      top: 24px;
      left: 0;
      transition: 1s;
      cursor: pointer;
      z-index: 8;
  }

  .navbarLogo:hover
  {
    filter: brightness(1.75);
    transform: scale(1.3);
  }


  .title    {
    float:left;
    padding-left: 200px;
    padding-right: 12px;
    padding-top: 28px;
    padding-bottom: 28px;
    color: #f2f2f2;
    font-size: 24px;
    letter-spacing: 12px;
    transition: 0.6s;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }




  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .spacer   {
    padding:36px;
    width:100%;
  }

  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }


.textBoxR
{
  display: inline-block;
  align-self: flex-end;
  padding-left: calc(5% - 30px);
  padding-right: 5%;
  padding-bottom: 20%;
}

.textBoxL
{
  display: inline-block;
  align-self: flex-end;
  padding-left: 5%;
  padding-right: calc(5% - 30px);
  padding-bottom: 20%;
  text-align: right;
}

.bottomAlign
{
  display: flex;
}


h2
{
  font-weight: 400;
  font-size: 3vw;
}

p
{
  letter-spacing: 1px;
  line-height: 2vw;
  font-weight: 300;
  font-size: 1.5vw;
}



  .responsive   {
      width: 100%;
      max-width: 100%;
      height:auto;
  }

  .navbarElementGroup .material-icons.menuIcon
  {
      display:none;
  }

  .videoContainer
  {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }

  .spriteContainer
  {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .spriteSlider
  {
    margin-top: 100%;
  }

  .sprite
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(Sprites/SpriteMain.jpg) ;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 0px 0px;
  }

  .sliderContainer
  {
    position: absolute;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 0px;
    width: 100%;

  }

  #slider
  {

    margin: auto;
    display: flex;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d9d9d967;
    opacity: 0.7;
    -webkit-transition: 0.7s;
    transition: opacity 0.7s, background 0.7s;
  }

  #slider:hover
  {
    background: #ccccccFF;
  }

  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.3vw;
    width: calc(1.3vw*(42/24));
    border: 0;
    background: url('Icons/cloud.svg');
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
    cursor: -webkit-grab; 
    cursor: grab;
  }

  #slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.3vw;
    width: calc(1.3vw*(42/24));
    border: 0;
    background: url('Icons/cloud.svg');
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
    cursor: -webkit-grab; 
    cursor: grab;
  }

  #slider::-webkit-slider-thumb:hover
  {
    transform: scale(1.2);
  }

  #slider::-webkit-slider-thumb:active
  {
    cursor: -webkit-grabbing; 
    cursor: grabbing;;
  }

  .buttonContainer
  {
    display: inline-block;
    align-self: flex-end;
  }

  #cloudButton
  {
    float: right;
    height: 8vw;
    padding: 0;
    opacity: 0.7;
    transition: opacity 0.7s ease, transform 1s ease;
    cursor: pointer;
    z-index: 2;
  }

  #cloudButton:hover
  {
    opacity: 1;
    transform: scale(1.05);
  }



  .cloudCaption
  {
    padding: 0;
    position: absolute;
    left:54px;
    top: 46px;
    z-index: 3;
  }

  .playCaption
  {
    position: absolute;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    right:30px;
    top: 36px;
    
  }

  #playButton
  {
    filter: invert(1);
    float: right;
    padding: 8%;
    height: 8vw;
    opacity: 0.5;
    transition: transform 0.7s, opacity 0.7s;
    cursor: pointer;
  }

  #playButton:hover
  {
    transform: scale(1.05);
    opacity: 1;
  }

  

  .tickContainerLeft, .tickContainerRight
  {
    position: relative;
    float: left;
    width:0.5%;
    padding:2px;
  }

  .tickContainer
  {
    position: relative;
    float: left;
    width: 99%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    height:55px;
    pointer-events: none;

  }


  .ticks
  {
    padding-top: 1%;
    text-align: center;
    display:flex;
    width: 100%;
    color: white;
  }

  .tickText
  {
    flex:1;
    font-size: 0.9vw;
    opacity: 0.2;
    transition: 1.3s;
    transition-timing-function: cubic-bezier(0,0.5,0,1);
  }

  .tickSelected
  {
    font-weight: 500;
    font-size: 1.1vw;
    opacity: 1;
  }


  .captionL, .captionR
  {
    position: absolute;
    background-color: black;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 1vw
  }

  .captionL p, .captionR p
  {
    font-size: 1vw
  }

  .captionL
  {
    left:30px;
    bottom: 36px;
  }

  .captionR
  {
    right:30px;
    bottom: 36px;
  }

  .cloudContainer
  {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
    position: relative;

    background: linear-gradient(
      rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%,
      rgba(245,152,162,1) 30%, rgba(245,152,162,1) 40%, 
      rgba(253,217,193,1) 40%, rgba(253,217,193,1) 50%, 
      rgba(184,225,210,1) 50%, rgba(184,225,210,1) 60%, 
      rgba(200,207,233,1) 60%, rgba(200,207,233,1) 70%,
      rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%
      );


  }
  
  .cloud
  {
    position: absolute;
    z-index: 12;
    height: 80%;
    
  }

  .cloudShadow
  {
    position: absolute;
    
    z-index: 1;
    height: 80%;
    filter: invert(100%) blur(6px);
    opacity: 0.2;
  }

  .iconOverlayR
  {
    height:100%;
    position:absolute;
    top: 20%;
    left: 85%;
    transition: 2s;
    transition-timing-function: ease-in;
    z-index: 8;
    opacity: 0.9;
  }

  .iconOverlayL
  {
    transform: scaleX(-1);
    height:75%;
    position:absolute;
    top: 30%;
    left: 15%;
    transition: 2s;
    transition-timing-function: ease-in;
    opacity: 0.7;
  }



 

  .overlay  {
    height:100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 24px;
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
    pointer-events: none;
  }

  .overlayText  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .overlay.is-inview
  {
    opacity: 0.75;
    background-color: #000;
    animation: fadeSmall;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
  }

  .textSection
  {
    opacity: 0;
    transition: 2.5s;
  }

  .textSection.is-inview
  {
    opacity: 1;
  }

  .appearText
  {
    padding-top: 50vh;
    padding-bottom: 50vh;
  }

  @keyframes fadeText
  {
    0%
    {
      opacity:0;
    }
    100%
    {
      opacity:1;
      background-color: #000;
    }
  }


  @keyframes fadeSmall
  {
    0%{opacity: 0.75;}
    100%{opacity: 0;display: none;}
  }



  .material-icons.menuIcon {
    color:white;
    font-size:64px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 64px;
    text-decoration: none;
    transition: 1s;

  }
  
  #sib-container.formContainer
  {
    border-radius: 12px;
    background-color: #bdc4db;
    padding: 32px;
    box-shadow: 0 0 10px #bbb;
  }

  .sib-text-form-block h2
  {
    font-family: 'Roboto Mono', monospace;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .sib-text-form-block p
  {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 18px;
  }

  .formTitle
  {
    padding-bottom: 8px;
  }

  .sib-form .input:not(textarea), .sib-form .input__button
  {
    height: auto;
  }



  
  input[type=submit],
  .sib-form .entry__field
  {
    width:100%;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid white;
    font-size: 1.3vw;
  }

  .formTitle .sib-form-block,
  .sib-form-block, .sib-text-form-block
  {
    padding-left: 0px;
  }

  .sib-form-block,
  .inputButton .sib-form-block
  {
    padding: 0px;
  }

  .form__label-row  .entry__field
  {
    margin: 0px;
  }


  .sib-input.sib-form-block
  {
    padding-left: 0px;
    padding-right: 12px;
  }

  .inputButton .sib-form-block
  {
    padding-left: 0px;
    padding-right: 0px;
  }


  .inputWide
  {
    width:36%;
    padding: 0;
    float: left;
  }

  .inputButton
  {
    width:28%;
    float: left;
  }

  .inputButton > *, .inputButton >* >*
  {
    color: #DDD;
    background-color: #333;
    padding:12px;
    border-radius: 10px;
    width:100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 1.3vw;
    transition: background-color 0.3s, transform 0.4s, box-shadow 0.8s, color 0.3s;
    cursor: pointer;
    box-shadow: 0 0 0px #fde8ea;
  }

  .inputButton > *:hover, 
  .inputButton >* >*:hover
  {
    color: #333;
    background-color: #EEE;
    transform: scale(1.002);
    box-shadow: 0 0 25px #fde8ea;

  }


  .footer {
    width:100%;
    height:200px;
    background: linear-gradient(#F598A2, #F598A2 25%, #FDD9C1 25%, #FDD9C1 50%, #B8E1D2 50%, #B8E1D2 75%, #C8CFE9 75%, #C8CFE9 100%);
    padding: 80px;
  }

  .footerText {
    color: #6f7377; 
    font-size: 1.8vw;
  }

  .sunLogo
  {
    font-size: 2.5vw;
  }



  /* MEDIA */

  @media only screen and (min-width: 1080px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }




  /*
  ###################################################
  #############     NARROW SCREEN     ###############
  ###################################################
  */



@media only screen and (max-width:1080px)
{


  body, html
  {
    font-size: 3.5vw;
  }

  h2
  {
    font-size: 3.5vw;
  }

  p
  {
    font-size: 2.5vw;
    line-height: 3vw;
  }



  .bottomAlign
  {
    display: table;
  }

  .textBoxL, .textBoxR
  {
    padding: 15px;
  }


  .captionL p, .captionR p
  {
    font-size: 3.5vw
  }



  .tickContainerLeft, .tickContainerRight
    {
      display: none;
    }

    .tickContainer
    {
      width: 100%;
    }

    #slider
    {
      width: 98.5%;
    }

    #playButton
    {
      height: 12vw;
    }

    #cloudButton
    {
      height:12vw;
    }

    .cloudContainer
    {
      background: none;
    }


    .inputButton, .inputWide
    {
      width: 100%;
    }

    .formTitle .sib-form-block,
    .sib-form-block, .sib-text-form-block
    {
      padding-right: 0px;
    }

    .inputWide .sib-input.sib-form-block
    {
      padding-right: 0px;
    }


    input[type=submit],
  .sib-form .entry__field, 
  .inputButton > *, .inputButton >* >*
    {
      font-size: 2vw;
    }


    .rowFlip
    {
      transform: scaleY(-1);
    }

    .rowFlip >* 
    {
      transform: scaleY(-1);
    }


}



 /*
  ###################################################
  ##################     MOBILE     #################
  ###################################################
  */

  @media only screen and (max-width:768px)
{
  h2
  {
    font-size: 4vw;
  }

  p
  {
    font-size: 3.2vw;
    line-height: 3.8vw;
  }


  .title
  {
    letter-spacing: 2px;
  }

  #slider::-webkit-slider-thumb {
    height: 4.2vw;
    width: calc(4.2vw*(42/24));
  }

  #slider::-moz-range-thumb {
    height: 4.2vw;
    width: calc(4.2vw*(42/24));
  }

  .tickContainer
  {
    display: none;
  }

  .captionL, .captionR
  {
    font-size: 3.5vw;
  }






}







  /*
  ###################################################
  ###############    WIDE SCREEN     ################
  ###################################################
  */


@media only screen and (max-width: 1440px) {
  .cloud, .cloudShadow
    {
      height: 55%;
    }


  .iconOverlayR
    {
      left: 55%;
    }


  .iconOverlayL
    {
      left: 35%;
    }

    
  .navbarElement{display: none;}
  .material-icons.menuIcon
    {
      margin-left: auto;
      margin-right: 0;
      display: block;
    }


  .navbar.expand{position: relative;}
  .navbarElementGroup .material-icons.menuIcon
    {
        display:block;
        margin-left: auto;
        position: absolute;
        margin-right: 0;
        right:0;
        top:0;
    }
}


  /*
  ###################################################
  ###############    MOBILE NARROW     ##############
  ###################################################
  */


@media only screen and (max-width: 680px) {
  .cloud, .cloudShadow
    {
      height: 40%;
    }


  .html, .body
    {
      width: 100%;
    }


  .navbar .title
    {
      opacity:0; 
      white-space: nowrap; 
      max-width: 100%;
    }


    input[type=submit],
    .sib-form .entry__field, 
    .inputButton > *, .inputButton >* >*
      {
        font-size: 3vw;
      }



}