:root
{
  --myOpacity: 0;
}


* {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  height:100%;
  width: 100%;
  background-color: #d3dcdf;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

[class*="col-"] {
  position: relative;
  float: left;
  padding: 15px;
  align-items: center;
  width:100%;
}

.block
{
  position: fixed; 
  
  width: 100%; 
  background: black; 
  z-index: 1000; 
  color:white; 
  text-align: center; 

  animation-name: fade;
  animation-duration: 3.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode:both;
  animation-timing-function: ease-in-out;
}

@keyframes fade
{
  0%{opacity: var(--myOpacity); height: 155%;}
  99%{opacity: 0; height: 105%;}
  100%{opacity: 0; height: 0%; display: none;}
}

.welcomeText  {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 32px;
  z-index: 2000;
}



@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width:768px)
{
  .noMobile
  {
    display: none;
  }
}

@media only screen and (max-width:1080px)
{
  .narrowScreen
  {
    display: none;
  }

  .narrowScreenMiddle
  {
    width: 100%;
  }
}


.viewport 
{
  height:100%;
  width: 100%;

  overflow-y: scroll;
  overflow-x: clip;
}




















body, html {
    height:100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    overflow: hidden;
    overflow-y: auto;
    
  }

  div[style*="margin: 16px 0"] {
    margin:0 !important;
}


@media only screen and (max-width: 1080px) {
  body, html
  {
    font-size: 3.5vw;
  }
}




.yproximity-scroll-snapping
{
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
  transform-origin: center center;
  transform: scale(1);
}

  .navbar
  {
    overflow: hidden;
    background-color: #1f273500;
    /* background-color: #1f2735; */
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 5;
    transition: 2s;
  }

  .navbarElement {
    float: right;
    display: block;
    color: #f2f2f2;
    font-size: 24px;
    text-align: center;
    padding: 28px 64px;
    text-decoration: none;
    transition: opacity 2s, padding 1.5s, filter 1s, background 1s, transform 1s, display 1s;
  }

  .logoIcon {
    filter:invert(100%);
  }

  .navbarElement:hover,
  .navbarElementGroup .material-icons.menuIcon:hover
  {
    filter: invert(100%);
    background: #000;
    pointer-events: auto;
  }


  .navbarLogo {
      float:left;
      display: block;
      height: 38px;
      width:auto;
      padding: 0px 64px;
      position: absolute;
      top: 24px;
      left: 0;
      transition: 1s;
      cursor: pointer;
      z-index: 8;
  }

  .navbarLogo:hover
  {
    filter: brightness(1.75);
    transform: scale(1.3);
  }


  .title    {
    float:left;
    padding-left: 200px;
    padding-right: 12px;
    padding-top: 28px;
    padding-bottom: 28px;
    color: #f2f2f2;
    font-size: 24px;
    letter-spacing: 12px;
    transition: 0.6s;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  @media only screen and (max-width: 800px) {
    .title
    {
      letter-spacing: 2px;
    }
  }


  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .spacer   {
    padding:36px;
    width:100%;
  }

  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

  .responsive   {
      width: 100%;
      max-width: 100%;
      height:auto;
  }

  .navbarElementGroup .material-icons.menuIcon
  {
      display:none;
  }

  .videoContainer
  {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }

  .spriteContainer
  {
    display: inline-block;
    position: relative;
    width: 100%;

    bottom: 0%;
  }

  .spriteSlider
  {
    margin-top: 100%;
  }

  .sprite
  {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(Sprites/SpriteMain.jpg) ;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 0px 0px;
  }

  .sliderContainer
  {
    position: absolute;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 0px;
    width: 100%;

  }

  #slider
  {

    margin: auto;
    display: flex;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.8;
    -webkit-transition: 0.7s;
    transition: opacity 0.7s, background 0.7s;
  }

  #slider:hover
  {
    background: #cccccc;
    opacity: 1;
  }

  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.3vw;
    width: calc(1.3vw*(42/24));
    border: 0;
    background: url('cloud.svg');
    cursor: pointer;
    transition: 0.4s;
  }

  #slider::-moz-range-thumb {
    height: 1.3vw;
    width: calc(1.3vw*(42/24));
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
    transition: 0.4s;
  }

  #slider::-webkit-slider-thumb:hover
  {
    transform: scale(1.2);
  }

  .buttonContainer
  {
    display: inline-block;
    align-self: flex-end;
  }

  #cloudButton
  {
    float: right;
    padding: 8%;
    height: 8vw;
    opacity: 0.7;
    transition: transform 0.7s, opacity 0.7s;
    cursor: pointer;
  }

  #cloudButton:hover
  {
    opacity: 1;
    transform: scale(1.05);
  }

  .buttonRow
  {
    display: flex;
    height: 100%;
  }


  .cloudCaption
  {
    position: absolute;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    left:30px;
    top: 36px;
  }

  .playCaption
  {
    position: absolute;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    right:30px;
    top: 36px;
  }

  #playButton
  {
    filter: invert(1);
    float: right;
    padding: 8%;
    height: 8vw;
    opacity: 0.5;
    transition: transform 0.7s, opacity 0.7s;
    cursor: pointer;
  }

  #playButton:hover
  {
    transform: scale(1.05);
    opacity: 1;
  }

  

  .tickContainerLeft, .tickContainerRight
  {
    position: relative;
    float: left;
    width:0.5%;
    padding:2px;
  }

  .tickContainer
  {
    position: relative;
    float: left;
    width: 99%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    height:55px;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  }

  @media only screen and (max-width:1080px)
  {
    .tickContainerLeft, .tickContainerRight
    {
      display: none;
    }

    .tickContainer
    {
      width: 100%;
    }

    #slider
    {
      width: 98.5%;
    }

    #playButton
    {
      height: 12vw;
    }

    #cloudButton
    {
      height:12vw;
    }
  }

  .ticks
  {
    padding-top: 1%;
    text-align: center;
    display:flex;
    width: 100%;
    color: white;
  }

  .tickText
  {
    flex:1;
    font-size: 0.9vw;
    opacity: 0.2;
    transition: 0.4s;
  }

  .tickSelected
  {
    font-weight: 1000;
    font-size: 1.1vw;
    opacity: 1;
  }


  @media only screen and (max-width: 768px){
    #slider::-webkit-slider-thumb {
      height: 4.2vw;
      width: calc(4.2vw*(42/24));
    }
  
    #slider::-moz-range-thumb {
      height: 4.2vw;
      width: calc(4.2vw*(42/24));
    }

    .tickContainer
    {
      display: none;
    }

    
  }

  .captionL, .captionR
  {
    position: absolute;
    background-color: black;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
  }

  .captionL
  {
    left:30px;
    bottom: 36px;
  }

  .captionR
  {
    right:30px;
    bottom: 36px;
  }

  
  .cloud
  {
    position: absolute;
    z-index: 12;
    height: 80%;
    opacity: 1;
  }

  .cloudShadow
  {
    position: absolute;
    
    z-index: 1;
    height: 80%;
    filter: invert(100%) blur(6px);
    opacity: 0.2;
  }

  .iconOverlayR
  {
    height:100%;
    position:absolute;
    top: 30%;
    left: 65%;
    transition: 2s;
    transition-timing-function: ease-in;
    z-index: 8;
  }

  .iconOverlayL
  {
    transform: scaleX(-1);
    height:75%;
    position:absolute;
    top: 55%;
    left: 25%;
    transition: 2s;
    transition-timing-function: ease-in;
  }

  @media only screen and (max-width: 400px)
  {
    .iconOverlayR, .iconOverlayL
    {
      display:none;
      cursor: none;
    }
  }



  @media only screen and (max-width: 1440px) {
    .cloud, .cloudShadow
    {
      height: 55%;
    }
    .iconOverlayR
    {
      left: 55%;
    }
    .iconOverlayL
    {
      left: 35%;
    }
  }

  @media only screen and (max-width: 680px) {
    .cloud, .cloudShadow
    {
      height: 40%;
    }
    .html, .body
    {
      width: 100%;
      overflow-x: hidden;
    }
  }












  

 

  .overlay  {
    height:100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 24px;
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
    pointer-events: none;
  }

  .overlayText  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .overlay.is-inview
  {
    opacity: 0.75;
    background-color: #000;
    animation: fadeSmall;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
  }

  .textSection
  {
    opacity: 0;
    transition: 2.5s;
  }

  .textSection.is-inview
  {
    opacity: 1;
  }

  @keyframes fadeText
  {
    0%
    {
      opacity:0;
    }
    100%
    {
      opacity:1;
      background-color: #000;
    }
  }


  @keyframes fadeSmall
  {
    0%{opacity: 0.75;}
    100%{opacity: 0;display: none;}
  }






  @media screen and (max-width: 680px)
  {
    .navbar .title
    {
      opacity:0; 
      white-space: nowrap; 
      overflow: clip; 
      max-width: 100%;
    }
  }



  @media screen and (max-width: 1440px)
  {
      .navbarElement{display: none;}
      .material-icons.menuIcon
      {
        margin-left: auto;
        margin-right: 0;
          display: block;
      }
      /* .footer.footerText, .footerText, .footer
      {
        font-size: 14px !important;
      } */
  }

  @media screen and (max-width: 1440px)
  {
      .navbar.expand{position: relative;}
      .navbarElementGroup .material-icons.menuIcon
      {
          display:block;
          margin-left: auto;
          position: absolute;
          margin-right: 0;
          right:0;
          top:0;
      }

  } 
  .material-icons.menuIcon {
    color:white;
    font-size:64px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 64px;
    text-decoration: none;
    transition: 1s;

  }
  

  .subscribeForm  {
    background-color: #333;
    padding: 8px 30px;
    padding-bottom: 30px;
    color: white;
    border-radius: 10px;
  }

  .input, input[type=submit]{
    width:100%;
    padding:12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
  }

  .submit
  {
    background-color:#58ffab;
    transition: background-color 4s, transform 0.5s;
  }

  .submit:hover
  {
    background-color: #ff6b6b;
    transform: scale(1.005);
  }


  .footer {
    width:100%;
    height:200px;
    background: linear-gradient(#F598A2, #F598A2 25%, #FDD9C1 25%, #FDD9C1 50%, #B8E1D2 50%, #B8E1D2 75%, #C8CFE9 75%, #C8CFE9 100%);
    padding: 80px;
  }

  .footerText {
    color: #6f7377; 
    font-size: 1.8vw;
  }

  .sunLogo
  {
    font-size: 2.5vw;
  }