html
{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.row
{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5vw;
    padding-right: 5vw;

}

div
{
    display: inline-block;
}

button, #colorpicker, #slider
{
    height: 75px;
    width: 15vw;
    vertical-align: middle;
}

.mid
{
    width: 15vw;
    margin: 0;
    line-height: 100%;
}

a
{
    text-decoration: none;
}