html
{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.row
{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5vw;
    padding-right: 5vw;

}

div
{
    display: inline-block;
}

button, #colorpicker, #slider
{
    height: 100px;
    width: 15vw;
    vertical-align: middle;
}

.mid
{
    width: 15vw;
    margin: 0;
    height: 100px;
    line-height: 100%;
}

a
{
    text-decoration: none;
}